$bg-color: hsl(218, 23%, 16%);
$border-color: rgb(81, 75, 75);
$nav-color: hsl(217deg, 20%, 23%);
$text-color: hsl(150, 100%, 66%);


$lbg-color: rgb(204, 37, 45);
$lborder-color: rgb(81, 75, 75);
$lnav-color: rgb(162, 18, 25);
$ltext-color: #FAF9F6;